* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: rgb(32, 32, 32);
}

/* ------INICIO DA FORMATAÇÃO DO MENU-------- */
.menu {
  width: 100%;
  background-color: #101212;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu ul {
  list-style: none;
  margin-top: 2%;
}
.menu ul li {
  background-color: #101212;
  color: white;
  width: 150px;
  border: 1px solid #080077;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-size: 15px;
  position: relative;
  font-family: "Gill Sans", sans-serif;
  margin: 3pt;
}
.menu img {
  /* border: 1px solid red; */
  height: 120px;
}

/* hover é a propriedade que quando passar o mouse por cima irá mudar a cor */
.menu ul li:hover {
  background-color: #080077;
}
.menu ul ul {
  display: none;
  margin: 0;
}
.menu ul li:hover > ul {
  display: block;
}
.menu ul ul ul {
  margin-left: 170px;
  top: 0px;
  position: absolute;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.menu ul li li {
  margin: 0px;
}
/* ------FIM DA FORMATAÇÃO DO MENU-------- */

/* ------INICIO DA FORMATAÇÃO DA APRESENTAÇÃO------ */
.apresentacao {
  padding-top: 60px;
}
.apresenttxt {
  color: white;
  text-align: center;
}
.txtapresent {
  padding-top: 60px;
}
#banner1 {
  height: 400px;
  background-image: url("../img/controledeconsole.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(32, 32, 32);
}
#banner2 {
  height: 500px;
  background-image: url("../img/pcgamer2.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* --------- INICIO DA AREA DE PRODUTOS EM DESTAQUE --------------*/

/* --------- FIM DA AREA DE PRODUTOS EM DESTAQUE --------------*/
.proddestaque {
  padding-bottom: 30px;
  padding-top: 30px;
}
/* --------- INICIO DA AREA DE CLIENTES ----------------- */
.h2clientes {
  color: white;
  padding-top: 30px;
  margin-left: 15px;
}
.cliente {
  margin-bottom: 30px;
  margin-top: 60px;
}
.cliente img {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-left: 60px;
}
.clientep {
  color: white;
  padding-top: 80px;
}
/* --------- FIM DA AREA DE CLIENTES ----------------- */

/* --------- INICIO DA FORMATAÇÃO DO RODAPÉ ------------- */
.rodape {
  padding: 50px 50px 0;
  background-color: black;
}

.rodape .info-contato p {
  margin: 0px;
  color: #fff;
}

.rodape a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.rodape a br {
  color: #fff;
}
.rodape a:hover {
  font-weight: bold;
}

.rodape .redes-sociais {
  display: inline-block;
}

.rodape .redes-sociais img {
  width: 40px; /*Diminuir a largura da imagem*/
  right: 40px; /*Diminuir a altura da imagem*/
  margin: 5px; /*Criar um espaço entre uma rede e outra*/
  transition: ease 0.5s;
}
.rodape .redes-sociais img:hover {
  /* Realizar uma rotação de 360º na imagem */
  transform: rotate(360deg);
}

.rodape p.direitos {
  text-align: center;
  margin-top: 40px;
  color: white;
}
/* --------- FIM DA FORMATAÇÃO DO RODAPÉ -------------- */

/* ---------INICIO DA FORMATAÇÃO DA PÁGINA HARDWARE --------- */
/* definindo um tamanho para o carousel de imagens */
.carousel {
  width: 80%;
  margin: 0 auto;
}
#processadores,
#processadores2,
#pmae,
#pmae2,
#pvideo,
#memoria,
#fonte,
#armazenamento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.prod {
  margin-right: 100px;
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
.prod {
  margin-right: 100px;
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
.prod img {
  width: 150px;
  background-color: white;
}
.prod p {
  color: black;
  background-color: darkgray;
  margin-top: 5px;
}
.txthard {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin: 80px 0px 80px 30px;
  text-decoration: underline blue;
}
.txtprod {
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  background-color: darkgray;
}

/* --------- FIM DA FORMATAÇÃO DA PÁGINA HARDWARE ---------*/

/* ------- PÁGINA DE CONTATO ----------- */
form {
  border: 1px solid white;
  width: 500px;
  background-color: rgb(32, 32, 32);

  /* Para alinhar o formulário ao centro é só 
utlizar o comando margin-left como auto e o comando
margin-right como auto */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
/* Vamos fazer a formatação dos elementos do formulário
capturando todos os seus respectivos tipos, veja abaixo:*/
input[type="text"],
input[type="email"],
form span,
textarea {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial";
  font-size: 10pt;
}
select {
  margin: 5px;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  width: 120px;
  height: 60px;
  background-color: green;
  margin-top: 8px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: block;
}
span {
  color: white;
}
main #mapa iframe {
  margin-left: 100px;
  width: 90%;
  height: 600px;
  margin-bottom: 60px;
}
.txtcon {
  padding-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin: 0px 0px 80px 30px;
  text-decoration: underline blue;
}
/* FIM DA FORMATAÇÃO DA PÁGINA CONTATO */

/* INICIO DA FORMATAÇÃO DA PÁGINA SOBRE */
.txtsobre {
  font-family: "Lato", sans-serif;
  text-align: justify;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

/* FIM DA FORMATÇÃO DA PÁGINA SOBRE */
