* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: rgb(32, 32, 32);
}

.menu {
  width: 100%;
  background-color: #101212;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu ul {
  list-style: none;
  margin-top: 2%;
}
.menu ul li {
  background-color: #101212;
  color: white;
  width: 150px;
  border: 1px solid #080077;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-size: 15px;
  position: relative;
  font-family: "Gill Sans", sans-serif;
  margin: 3pt;
}
.menu img {
  /* border: 1px solid red; */
  height: 120px;
}

/* hover é a propriedade que quando passar o mouse por cima irá mudar a cor */
.menu ul li:hover {
  background-color: #080077;
}
.menu ul ul {
  display: none;
  margin: 0;
}
.menu ul li:hover > ul {
  display: block;
}
.menu ul ul ul {
  margin-left: 170px;
  top: 0px;
  position: absolute;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.menu ul li li {
  margin: 0px;
}
#apresentacao {
  background-color: rgb(32, 32, 32);
  padding-bottom: 40px;
}
#apresentacao img {
  float: left;
  margin: 10pt;
  margin-top: 20pt;
  width: 550px;
}
/* limpando o float */
.clear {
  clear: both;
}
#apresentacao h2 {
  color: aliceblue;
  float: right;
  margin-right: 180pt;
  margin-top: 20pt;
  /* border: 1px solid green; */
}
#apresentacao p {
  float: right;
  /* border: 1px solid red; */
  width: 500px;
  color: aliceblue;
  margin-top: 60px;
  text-align: center;
  margin-right: 150px;
  text-align: justify;
}
#banner1 {
  height: 400px;
  background-image: url("../img/controledeconsole.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(32, 32, 32);
}
#proddestaque {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#proddestaque2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding-bottom: 20px;
}
#txtprodestaque {
  margin-top: 40px;
  margin-left: 30px;
  background-color: rgb(32, 32, 32);
  color: white;
}
#proddestaque .prod1,
.prod2,
.prod3,
.prod4 {
  margin-right: 100px;
  padding: 10px 10px 10px 15px;
  background-color: white;
}
#proddestaque2 .prod1,
.prod2,
.prod3,
.prod4 {
  margin-right: 100px;
  padding: 10px 10px 10px 15px;
  background-color: white;
}
#proddestaque .prod1 img {
  width: 150px;
  background-color: white;
}
#proddestaque .prod2 img {
  width: 150px;
}
#proddestaque .prod3 img {
  width: 150px;
}
#proddestaque .prod4 img {
  width: 190px;
}
#proddestaque2 .prod1 img {
  width: 150px;
}
#proddestaque2 .prod2 img {
  width: 150px;
}
#proddestaque2 .prod3 img {
  width: 150px;
  background-color: white;
}
#proddestaque2 .prod4 img {
  width: 150px;
}
#proddestaque .prod1 p {
  color: white;
}
#proddestaque .prod2 p {
  color: white;
}
#proddestaque .prod3 p {
  color: white;
}
#proddestaque .prod4 p {
  color: white;
}
#proddestaque2 .prod1 p {
  color: white;
}
#proddestaque2 .prod2 p {
  color: white;
}
#proddestaque2 .prod3 p {
  color: white;
}
#proddestaque2 .prod4 p {
  color: white;
}
#banner2 {
  height: 500px;
  background-image: url("../img/pcgamer2.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#clientes {
  padding-bottom: 50px;
}
#clientes h2 {
  margin-left: 50px;
  margin-top: 45px;
  color: white;
  padding-bottom: 100px;
}
#clientes .cliente1 img {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-left: 60px;
}
#clientes .cliente1 p {
  float: right;
  padding-top: 20px;
  padding-right: 15px;
  margin-right: 600px;
  margin-top: 60px;
  margin-left: 10px;
  color: black;
  /* border: 1px solid red; */
  background-color: #c6c7c5;
  text-align: center;
}
#clientes .cliente2 img {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 25px;
}
#clientes .cliente2 p {
  float: right;
  padding-top: 20px;
  padding-right: 15px;
  margin-right: 500px;
  margin-top: 90px;
  margin-left: 10px;
  color: black;
  /* border: 1px solid red; */
  background-color: #c6c7c5;
  text-align: center;
}
#clientes .cliente3 img {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 25px;
}
#clientes .cliente3 p {
  float: right;
  padding-top: 20px;
  padding-right: 1px;
  margin-right: 365px;
  margin-top: 90px;
  margin-left: 10px;
  width: 700px;
  color: black;
  /* border: 1px solid red; */
  background-color: #c6c7c5;
  text-align: center;
}
#clientes .cliente4 img {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 25px;
}
#clientes .cliente4 p {
  float: right;
  padding-top: 20px;
  padding-right: 1px;
  margin-right: 365px;
  margin-top: 90px;
  margin-left: 10px;
  width: 700px;
  color: black;
  /* border: 1px solid red; */
  background-color: #c6c7c5;
  text-align: center;
}
footer {
  background-color: black;
  padding-bottom: 250px;
}
#redes {
  float: right;
  padding-right: 30px;
}
footer #redes a {
  text-decoration: none;
  margin-bottom: 100px;
}
footer #redes a img {
  width: 40px; /*Diminuir a largura da imagem*/
  right: 40px; /*Diminuir a altura da imagem*/
  margin: 5px; /*Criar um espaço entre uma rede e outra*/
  transition: ease 0.5s;
}
footer #redes a img:hover {
  /* Realizar uma rotação de 360º na imagem */
  transform: rotate(360deg);
}
#linksnav {
  float: right;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 400px;
  margin-bottom: 10px;
  /* border: 1px solid white; */
}
#linksnav a {
  display: block;
  text-decoration: none;
  color: red;
}
#linksnav nav h6 {
  color: white;
}
#end {
  color: white;
  padding-top: 100px;
  margin: 1px solid;
}
/* definindo um tamanho para o carousel de imagens */
.carousel {
  width: 80%;
  margin: 0 auto;
}
#processadores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#processadores .prod1,
.prod2,
.prod3,
.prod4 {
  margin-right: 100px;
}
#processadores .prod1 img {
  width: 150px;
  background-color: white;
}
#processadores .prod2 img {
  width: 150px;
}
#processadores .prod3 img {
  width: 150px;
}
#processadores .prod4 img {
  width: 150px;
}
#processadores .prod1 p {
  color: black;
  background-color: darkgray;
  margin-top: 5px;
}
#processadores .prod2 p {
  color: black;
  background-color: darkgray;
  margin-top: 5px;
}
#processadores .prod3 p {
  color: black;
  background-color: darkgray;
  margin-top: 5px;
}
#processadores .prod4 p {
  color: black;
  background-color: darkgray;
  margin-top: 5px;
}
#processadores .prod1 {
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
#processadores .prod2 {
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
#processadores .prod3 {
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
#processadores .prod4 {
  /* border: 1px solid red; */
  padding: 10px 10px 10px 15px;
  background-color: white;
}
.txthard {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin: 80px 0px 60px 30px;
  text-decoration: underline blue;
}
.txtproc {
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  background-color: darkgray;
}
